$additional-icons: ('loading', 'camera-switch', 'camera-iris', 'delete', 'content-save', 'cellphone-erase', 'triangle', 'share-variant', 'checkbox-blank-outline', 'checkbox-marked-outline');
$white: #fafafa;
$black: #1d2235;
$darkgray: #6b7480;
$lightgray: #c7cbcc;
$plum: #951c58;
$pink: #a13b67;
$blue: #1c1f86;

$transition: none;

$header-height: 0;